{% extends "blog/base.html" %}

{% block content %}

    {% include "blog/_entry.html" with entry=entry only %}

    <hr>
    <h4>Comments</h4>

    {% for comment in entry.comment_set.all %}
    <p>
        <em>Posted by {{ comment.name }}</em>
        <img src="{{ comment.gravatar_url }}" align="left" style="margin-right: 20px;">
    </p>
        {{ comment.body|linebreaks }}
    {% empty %}
    <p>There are no comments yet.</p>
    {% endfor %}

    <h5>Add a comment</h5>
    <form method="post">
    {% csrf_token %}
        {{ form.as_table }}
        <input type="submit" value="Create comment">
    </form>
{% endblock content %}